<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dictionary" version="2.1.1" targetFramework="net471" />
  <package id="HtmlAgilityPack" version="1.11.34" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net471" />
  <package id="RestSharp" version="106.11.7" targetFramework="net471" />
  <package id="Xpando" version="2.4.0" targetFramework="net471" />
</packages>